

.color-red{
    color: brown;
}

.text-black{
    color: black;
}

.btn_width{
    width: 110px;
    height: 40px;
}

body{
   
    background-image:url("../images/thumb-1920-447889.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-color: #cccccc;
    height: 100%;
    width: 100%;
}

.login-form{
   
    border: solid 1px white;
    border-radius: 15px;
    width:600px; /* Valor da Largura */
    height:850px; /* Valor da Altura */
    background:#ffffff;
    margin-top: 170px;
    margin-left: 280px;
    color:#fff;
    
    -webkit-box-shadow: -2px 1px 11px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow:    -2px 1px 11px 0px rgba(50, 50, 50, 1);
    box-shadow:         -2px 1px 11px 0px rgba(50, 50, 50, 1);
    
}
.borda{
    border: 2px solid black;
}

@supports (-moz-appearance:none) {
   #teste{
    position: absolute;
    margin-top: -330px;
    width: 118px;
    height: 109px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    padding-top: 22px;
    padding-left: 27px;
   }
}


.cicle{
    
    position: absolute;
    margin-top: -850px;
    width: 130px;
    height: 130px;
    border-radius: 100%;
    background: rgb(255, 255, 255);
    padding-top: 13px;
    padding-left: 25px;
    
}

#forgot{
    font-size: 15px;
}

.icon{

    font-size: 52px;
    color: rgba(89, 151, 245, 0.925);
}


#buttonSign{
    width: 200px;
    height: 40px;
}






@media (max-width: 320px) { 

    .login-form{
   
        border: solid 1px white;
        border-radius: 15px;
        width:270px; /* Valor da Largura */
        height:310px; /* Valor da Altura */
        background:#ffffff;
        margin-top: 100px;
        margin-left: 13px;
        margin-bottom: 150px;
        color:#fff;
          
    }


    #buttonSign{
        width: 100px;
        height: 40px;
    }

    #forgot{
        
        font-size: 12px;
    }


    .btn-custom{
        -webkit-box-shadow: inset -8px 0px 19px 1px rgba(0,0,0,0.74);
        -moz-box-shadow: inset -8px 0px 19px 1px rgba(0,0,0,0.74);
        box-shadow: inset -8px 0px 19px 1px rgba(0,0,0,0.74);       
    }   


    .cicle{
    
        position: absolute;
        margin-top: -155px;
        width: 85px;
        height: 89px;
        border-radius: 50%;
        background: rgb(255, 255, 255);
        padding-top: 12px;
        padding-left: 25px;
        
    }


    @supports (-moz-appearance:none) {
        #teste{
            position: absolute;
            margin-top: -320px;
            width: 85px;
            height: 89px;
            border-radius: 50%;
            background: rgb(255, 255, 255);
            padding-top: 16px;
            padding-left: 25px;
        }
     }


     .icon{

        font-size: 32px;
        color: rgba(89, 151, 245, 0.925);
    }

 }




@media (min-width: 321px) and (max-width: 575.98px){ 
    .login-form{
   
        border: solid 1px white;
        border-radius: 15px;
        width:290px; /* Valor da Largura */
        height:320px; /* Valor da Altura */
        background:#ffffff;
        margin-top: 110px;
        margin-left: 35px;
        margin-bottom: 245px;
        color:#fff;
          
    }


    #buttonSign{
        width: 100px;
        height: 40px;
    }

    #forgot{
        
        font-size: 12px;
    }


    .cicle{
    
        position: absolute;
        margin-top: -155px;
        width: 85px;
        height: 89px;
        border-radius: 50%;
        background: rgb(255, 255, 255);
        padding-top: 12px;
        padding-left: 25px;
        
    }


    @supports (-moz-appearance:none) {
        #teste{
            position: absolute;
            margin-top: -320px;
            width: 85px;
            height: 89px;
            border-radius: 50%;
            background: rgb(255, 255, 255);
            padding-top: 16px;
            padding-left: 25px;
        }
     }


     .icon{

        font-size: 32px;
        color: rgba(89, 151, 245, 0.925);
    }

 }










@media (min-width: 576px) and (max-width: 767.98px) { 
    .login-form{
   
        border: solid 1px white;
        border-radius: 15px;
        width:350px; /* Valor da Largura */
        height:350px; /* Valor da Altura */
        background:#ffffff;
        margin-top: 170px;
        margin-left: 90px;
        color:#fff;
           
    }

    #buttonSign{
        width: 150px;
        height: 20px;
    }

 }


@media (min-width: 768px) and (max-width: 991.98px) { 








    
}


@media (min-width: 992px) and (max-width: 1199.98px) {  }

@media (min-width: 1200px) {  }



/* Mudança no tamamnho */


.login-form-area{
   
    border: solid 1px white;
    border-radius: 15px;
    width:600px; /* Valor da Largura */
    height:540px; /* Valor da Altura */
    background:#ffffff;
    margin-top: 200px;
    margin-left: 280px;
    color:#fff;
 
       
    -webkit-box-shadow: -2px 1px 11px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow:    -2px 1px 11px 0px rgba(50, 50, 50, 1);
    box-shadow:         -2px 1px 11px 0px rgba(50, 50, 50, 1);

}



.cicle-area{
    
    position: absolute;
    margin-top: -540px;
    width: 130px;
    height: 130px;
    border-radius: 100%;
    background: rgb(255, 255, 255);
    padding-top: 14px;
    padding-left: 25px;
    
}
